/node_modules
/public/hot
/public/storage
/storage/api-docs
/storage/logs
/storage/*.key
/storage/framework/cache
/vendor
/imports
/database/migrations/2021_01_24_082136_users.php
/client
/.idea
npm-debug.log
yarn-error.log
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
/config/database.php
/app/.DS_Store
/logs
/logs/*
/uploads
composer.lock
/loaderio-2e48e1b8926f08499d956dd9b01c17d8/
/loaderio-b9a4fef7db9bdd57a2a9052b40244c5e/
/docker/pgsql/
/docker/meilisearch/
/storage/sitemap.xml
